<div class="flex flex-col items-center justify-center h-screen text-white">
    <h1 class="text-3xl font-semibold mb-4 text-center">Welcome! Whether you're here to browse, hire, or just be impressed — you're in the right place.</h1>
    <p class="text-lg mb-8 italic font-extralight">Let's take a quick tour, shall we?</p>
    <div class="flex space-x-4 text-lg font-bold">
        <a href="#projects" class="bg-blue-400 text-white px-6 py-3 rounded-full shadow-lg border-2 border-blue-400 hover:border-white transition duration-300">View Projects</a>
        <a href="/about" class="bg-slate-400 text-black px-6 py-3 rounded-full shadow-lg border-2 border-slate-400 hover:border-black transition duration-300">Get to know me</a>
    </div>
</div>