<div class="flex items-center justify-between p-4 text-lg sticky top-8 left-0 w-full z-50 rounded-full border-2 border-white shadow-lg bg-neutral-600">
    <div class="text-white text-lg font-bold">Daul's Portfolio</div>
    <ul class="flex space-x-4">
        <li><a href="#" class="text-white transition duration-300 ease-in-out hover:text-neutral-400">Home</a></li>
        <li><a href="#about" class="text-white transition duration-300 ease-in-out hover:text-neutral-400">About</a></li>
        <li><a href="#projects" class="text-white transition duration-300 ease-in-out hover:text-neutral-400">Projects</a></li>
    </ul>
</div>