<div
    class="flex flex-col lg:flex-row items-center justify-center min-h-screen w-full lg:space-x-8 space-y-6 lg:space-y-0 py-16 lg:py-0 text-white"
>
    <img
        src="/self.webp"
        alt="a picture of me"
        class="rounded-full w-36 h-36 lg:w-64 lg:h-64 shadow-lg border-2 border-white p-2 shrink-0"
    />
    <div class="flex flex-col items-center lg:items-start">
        <h1
            class="text-2xl lg:text-4xl font-semibold mb-2 text-center lg:text-left"
        >
            Hi, I'm Daul!
        </h1>
        <p
            class="text-center lg:text-justify text-sm lg:text-lg mb-4 font-extralight"
        >
            A <span class="text-blue-300">Full Stack Developer</span> and fourth-year
            Computer Science student at <span class="text-blue-300"
                >IPB University</span
            > with interests in software engineering and system design. Experience
            with Software Engineering Projects using <span class="text-cyan-400"
                >React/NextJS</span
            >, <span class="text-red-500">NestJS</span>,
            <span class="text-teal-400"> FastAPI</span>, and <span
                class="text-orange-400"
            >
                Astro</span
            >. Right now, I'm learning about <span class="text-orange-500"
                >Rust</span
            > to apply my knowledge about software design and architecture.
        </p>
    </div>
</div>
