<div
    class="flex flex-row items-center justify-center h-screen w-full space-x-8 text-white"
>
    <img
        src="/self.webp"
        alt="a picture of me"
        class="rounded-full lg:w-64 lg:h-64 w-32 h-32 mb-4 shadow-lg border-2 border-white p-2"
    />
    <div class="flex flex-col items-start">
        <h1 class="text-2xl lg:text-4xl font-semibold mb-2">Hi, I'm Daul!</h1>
        <p class="text-justify text-sm lg:text-lg mb-4 font-extralight">
            A <span class="text-blue-300">Full Stack Developer</span> and fourth-year
            Computer Science student at <span class="text-blue-300"
                >IPB University</span
            > with interests in software engineering and system design. Experience
            with Software Engineering Projects using <span class="text-cyan-400"
                >React/NextJS</span
            >, <span class="text-red-500"> NestJS</span>,
            <span class="text-teal-400"> FastAPI</span>, and <span
                class="text-orange-400"
            >
                Astro</span
            >. Right now, I'm learning about <span class="text-orange-500"
                >Rust</span
            > and to apply my knowledge about software design and architecture.
        </p>
    </div>
</div>
