---
import ProjectCard from "./ProjectCard.astro";

const projects = [
  {
    title: "Portfolio Website",
    desc: "Portofolio website built with Astro and Tailwind CSS.",
    cover: "/portofolio.webp",
    link: "https://daulyoi.github.io/",
  },
  {
    title: "ITTODAY 2025",
    desc: "A website for ITTODAY 2025, a national level competition event held by HIMALKOM. Built with React. Worked in a team as a frontend developer.",
    cover: "/ittoday-2025.webp",
    link: "https://ittoday.web.id/",
  },
  {
    title: "Orlin Farm",
    desc: "A website for a local business, built as a final project for my software engineering course. Built with Laravel. Worked in a team as a backend developer.",
    cover: "/orlinfarm.webp",
    link: "https://github.com/Daulyoi/orlin-farm-rpl",
  },
  {
    title: "Slot Machine",
    desc: "A simple slot machine game built with HTML, CSS, and JavaScript. A small and fun project to learn about DOM manipulation and event handling.",
    cover: "/slotmachine.webp",
    link: "https://slot-machine-v1.vercel.app/",
  },
];
---

<div id="projects" class="flex flex-col py-8 items-center justify-center">
  <h1 class="text-3xl text-white font-bold">Projects</h1>
  <div
    class="h-full w-full bg-neutral-800 text-white p-8 rounded-xl shadow-lg mt-4"
  >
    {
      projects.map((project) => (
        <ProjectCard
          title={project.title}
          desc={project.desc}
          cover={project.cover}
          link={project.link}
        />
      ))
    }
  </div>
</div>
