---
import { getCollection } from "astro:content";
import ProjectCard from "./ProjectCard.astro";

const projects = await getCollection("projects");
projects.sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
---

<div id="projects" class="flex flex-col py-8 items-center justify-center">
    <h1 class="text-3xl text-white font-bold">Projects</h1>
    <div
        class="h-full w-full bg-neutral-800 text-white p-8 rounded-xl shadow-lg mt-4"
    >
        {
            projects.map((project) => (
                <ProjectCard
                    title={project.data.title}
                    description={project.data.description}
                    cover={project.data.cover}
                    href={`/projects/${project.id}`}
                />
            ))
        }
    </div>
</div>
