---
const text = Astro.props.text || "Default Text";
---

<span class="text-white  bg-neutral-600 px-2 py-1 text-center rounded-lg shadow-md hover:bg-neutral-700 transition duration-300">
    {text}
</span>